# Arquivos byte-compiled / otimizados / DLL
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição / empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Normalmente esses arquivos são gerados por um script Python a partir de um template
#  antes do PyInstaller construir o exe, para injetar data/outras informações.
*.manifest
*.spec

# Logs do instalador
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de testes / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Traduções
*.mo
*.pot

# Itens relacionados ao Django:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Ambiente local do Flask
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# VS Code
.vscode/

# Git
.git/
